# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
.venv/

# Environment variables
.env

# Database
*.db

# VSCode
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Frontend
Frontend/node_modules/
Frontend/dist/